@model VoteModel
<div class="row">
    <div class="col-lg-4">
        <button class="btn btn-danger" id="voteBtn">
            <i class="fa fa-4x fa-star"><span id="ratingAverage">@Model.VoteAverage</span>/5</i>
        </button>
    </div>
    <div class="col-lg-8">
        @if (User.Identity.IsAuthenticated && Model.IsVoted)
        { 
            <p>Your rating: @Model.Value/5</p>
        }
        <p>Ratings: @Model.VoteAverage/5 from @Model.VoteCount users</p>
    </div>
</div>
<div>
    @if (!User.Identity.IsAuthenticated)
    {
        <text>Please <a href="/Account/Login?ReturnUrl=@Request.Url.AbsolutePath" title="Login to rate">Login</a> to rate</text>
    }
    else
    {
        <div>
            <span id="ratingContainer" style="@(Model.IsVoted?"display:none":"")">
                <span class="ratingStar" data-value="5"></span>
                <span class="ratingStar" data-value="3"></span>
                <span class="ratingStar" data-value="3"></span>
                <span class="ratingStar" data-value="2"></span>
                <span class="ratingStar" data-value="1"></span>
            </span>
            <span id="lbResult"></span>
        </div>
    }
</div>
